.innerContainer {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.header, .heroSection {
    background-color: #F3F3F3;
}

.navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26.5px 0;
}

.navToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}

.navList {
    display: flex;
    align-items: center;
}

.navList > .navListItem + .navListItem {
    margin-left: 20px
}

.navListItem {
    display: flex;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #000;
    font-weight: 400;
}

.cartLink {
    display: flex;
    align-items: center;
}

.loginButton {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 400;
}

.heroSection {
    height: 752px;
    padding-top: 152px;
}

.sectionWrapper {
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-between;
height: 100%;
font-family: "Inter";
}
.details {
    display: flex;
    flex-direction: column;

}

.imageWrapper {
    height: 244px;
    width: 487px;
}

.imageWrapper img {
    height: 100%;
    width: 100%;
}

.heading {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 320px;
    margin-bottom: 10px;
}

.pricing {
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.pricing > del {
    font-weight: 500;
}

.pricing > span {
    font-weight: 500;
    text-decoration: line-through;
}

.btnWrapper {
    width: 170px;
    margin-top: 50px;
}

.primaryButton {
padding: 10px 52px;
border-radius: 0px;
background-color: transparent ;
border: 1px solid black;
width: 100%;
cursor: pointer;
}


.selectDetail {
    width: 100%;
    align-self: flex-end;
    margin-bottom: 97px;
    margin-left: 96px
}

.productSection {
   padding-top: 45px 
}

.productCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color:#000;
    font-family: "Inter";
}

.productCategory > li + li {
    margin-left: 21px;
}

.productList {
    width: 100%;
    max-width: 1015px;
    margin: 102px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    /* gap: ;
    row-gap: ;
    column-gap: ; */

    column-gap: 74px; 
    row-gap: 102px;
}

.product {
    background: #F3F3F3;
    height: 448px;
    position: relative;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 24px;
    padding-top: 29px;
}

.productCartIcon {
    position: absolute;
    right: 18px;
    top: 14px;
}

.productDetailWrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 252px 1fr;
    height: 100%;
}

.productImage {
    height: 100%;
    width: 100%;
}

.productImage > img {
    width: 100%;
}

.productName {
    text-align: center;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 11px;
    flex-grow: 1;
}

.productDetails {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}
.productPrice {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 18px
}